<article>
<h2>{{ livros }}</h2>
<input type="text" placeholder="Título do Livro" [(ngModel)]=title_part>
<button class="button-primary" (click)="buscaLivros()">Buscar</button>

<div *ngIf="book?.length > 0;else no_data">
<div class="lista_livros" *ngFor="let livro of book">
	<div class="titulo">Título: {{ livro.title }}</div>
	<span>Autor: {{ livro.author }}</span>
	<span>Preço: {{ livro.price }}</span>
	<span>Ano de Publicação: {{ livro.yearPublished }}</span>
	<span>Rating: {{ livro.rating }}</span>
</div>
</div>
<ng-template #no_data>
	<div class="alerta">
	Nenhum livro encontrado!
	</div>
</ng-template>
</article>
